@charset "UTF-8";
/* CSS Document */
#wrapper {
	margin: auto;
	height: auto;
	width: auto;
}
/*Used for Page Heading*/
h1 {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 40px;
	font-weight: lighter;
	text-transform: uppercase;
	text-align: center;
	color: #021657;
}

/*Used for Page Sub-Heading*/
h2 {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 35px;
	font-weight: lighter;
	text-transform: uppercase;
	text-align: center;
}

/*Used for Content Descriptor for Articles*/
h3 {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 20px;
	font-weight: lighter;
	text-align: center;
}

/*Used for Blurbs in articles*/
h4 {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 17px;
	font-weight: lighter;
	text-align: left;
	color: #1C2956;
}
/*Visual Heavy Articles*/
h5 {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 17px;
	font-weight: lighter;
	text-align: left;
}
/*Footer/Byline/Captions*/
h6 {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 15px;
	font-weight: lighter;
	text-align: left;
}
/*Anything Else*/
p {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 18px;
	font-weight: lighter;
	text-align: left;
}

#page1 {
	background-image: url(../asset/images/city_5.jpg);
	background-size: 100% 100%;
	width: 100%;
	height: 330px;
	min-width: 800px;
	min-height: 0px;
	z-index: -100;
    background-position: right top;
    background-attachment: fixed;
}
#landing{}
#page2 {
	background-image: url(../images/fsbg/fsbg-1-compressed.jpg);
	background-size: 100% 100%;
	width: 100%;
	height: 600px;
	min-width: 800px;
	min-height: 0px;
	z-index: -100;
}
#page3 {
	background-image: url(../images/fsbg/fsbg-2-compressed.jpg);
	background-size: 100% 100%;
	width: 100%;
	height: 800px;
	min-width: 800px;
	min-height: 0px;
	z-index: -100;
}
.space {
	height: 100px	
	}

#footer {
	background-color: whitesmoke;
	width: auto;
	height: 45px;
}